.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&_fs_c {
		align-items: center;
	}
	&_fs_s {
		align-items: stretch;
	}
	&_sb_c {
		justify-content: space-between;
		align-items: center;
	}
	&_sb_s {
		justify-content: space-between;
		align-items: stretch;
	}
	&_c_c {
		justify-content: center;
		align-items: center;
	}
	&_column {
		flex-direction: column;
	}
	&_wrap {
		flex-wrap: wrap;
	}
}