// Переменные
@fontDir  : '../fonts';
@imgDir   : '../img';

@gutter: 15px;

@font: {
	// thin       : '';
	// extralight : '';
	light      : 'roboto-light';
	regular    : 'roboto';
	medium     : 'roboto-medium';
	// semibold   : '';
	bold       : 'roboto-bold';
	// extrabold  : '';
	// black      : '';
};

@font-w: {
	// thin       : '100';
	// extralight : '200';
	light      : '300';
	normal     : '400';
	medium     : '500';
	// semibold   : '600';
	bold       : '700';
	// extrabold  : '800';
	// black      : '900';
};

@colors: {
	black     : #000000;
	white     : #ffffff;
	text      : #333333;
};

// Медиа запросы
@breackPoints: {
	xs : ~"only screen and (max-width: 575.98px)";
	sm : ~"only screen and (max-width: 767.98px)";
	md : ~"only screen and (max-width: 991.98px)";
	lg : ~"only screen and (max-width: 1199.98px)";
	// xs : ~"only screen and (max-width: 575.98px)";
	// s  : ~"only screen and (min-width: 576px) and (max-width: 767.98px)";
	// m  : ~"only screen and (min-width: 768px) and (max-width: 991.98px)";
	// lg : ~"only screen and (max-width: 1199.98px)";
};

// Миксины

.font-face(@fontName; @urlName: @fontName; @weight: normal; @style: normal) {
	font-family: '@{fontName}';
	src: ~"url('@{fontDir}/@{urlName}/@{urlName}.eot')";
	src: ~"url('@{fontDir}/@{urlName}/@{urlName}.eot#iefix') format('embedded-eot')",
		~"url('@{fontDir}/@{urlName}/@{urlName}.woff') format('woff')",
		~"url('@{fontDir}/@{urlName}/@{urlName}.ttf') format('truetype')",
		~"url('@{fontDir}/@{urlName}/@{urlName}.svg#@{urlName}') format('svg')";
	font-weight: @weight;
	font-style: @style;
}

.placeholder(@rules) {
	&::-webkit-input-placeholder {
			@rules();
	}
	&:-moz-placeholder {
			@rules();
	}
	&::-moz-placeholder {
			@rules();
	}
	&:-ms-input-placeholder {
			@rules();
	}
}

.padding-generator(@value: 0) when (@value <= 60) {
	.p-@{value} { padding: unit(@value, px); }
	.pt-@{value} { padding-top: unit(@value, px); }
	.pb-@{value} { padding-bottom: unit(@value, px); }
	.pl-@{value} { padding-left: unit(@value, px); }
	.pr-@{value} { padding-right: unit(@value, px); }

	.padding-generator((@value + 5));
}

.margin-generator(@value: 0) when (@value <= 60) {
	.m-@{value} { margin: unit(@value, px); }
	.mt-@{value} { margin-top: unit(@value, px); }
	.mb-@{value} { margin-bottom: unit(@value, px); }
	.ml-@{value} { margin-left: unit(@value, px); }
	.mr-@{value} { margin-right: unit(@value, px); }

	.margin-generator((@value + 5));
}

.padding-generator();

.margin-generator();