@import '_sett/_variables';

// @font-face {
// 	.font-face(@font[thin]; @font[thin]; @font-w[thin]);
// }

// @font-face {
// 	.font-face(@font[extralight]; @font[extralight]; @font-w[extralight]);
// }

@font-face {
	.font-face(@font[light]; @font[light]; @font-w[light]);
}

@font-face {
	.font-face(@font[regular]; @font[regular]; @font-w[normal]);
}

@font-face {
	.font-face(@font[medium]; @font[medium]; @font-w[medium]);
}

// @font-face {
// 	.font-face(@font[semibold]; @font[semibold]; @font-w[semibold]);
// }

@font-face {
	.font-face(@font[bold]; @font[bold]; @font-w[bold]);
}

// @font-face {
// 	.font-face(@font[extrabold]; @font[extrabold]; @font-w[extrabold]);
// }

// @font-face {
// 	.font-face(@font[black]; @font[black]; @font-w[black]);
// }