@import '_sett/_variables';

*,
*:after,
*:before {
	box-sizing: border-box;
}

.body {
	background: @colors[white];
	color: @colors[text];
	min-height: 100vh;
	flex-direction: column;
	font-family: @font[light];
}

.header {
}

.main {
	flex-grow: 2;
}

.footer {
}

a {
	text-decoration: none;
	color: @colors[text];
}

img {
	max-width: 100%;
	border: 0;
	font-size: 0;
	line-height: 0;
	display: inline-block;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: @gutter;
	@media @breackPoints[lg] {
		width: 990px;
	}
	@media @breackPoints[md] {
		width: 750px;
	}
	@media @breackPoints[sm] {
		width: 570px;
	}
	@media @breackPoints[xs] {
		width: 100%;
	}
}

@import '_sett/_flex';

@import 'mod/header';
@import 'mod/footer';
@import 'mod/hidden';