//- layout.pug
doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")

		//- link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
		//- link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
		//- link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
		//- link(rel="manifest", href="img/favicon/site.webmanifest")
		//- link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")
		//- meta(name="msapplication-TileColor", content="#da532c")
		//- meta(name="theme-color", content="#ffffff")

		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet" href="css/fonts.min.css")
		link(rel="stylesheet" href="css/style.min.css")

		block title
			title Тайтл страницы

	body.body.flex.flex-sb-fs
		block header
		block content
		block footer
		block hidden

	//- script(src="js/libsjs.min.js")
	script(src="js/script.min.js")
	//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")