//- index.pug
extends _layuot

block title
	title Главная страница

block header
	include includes/_header

block content
	main.main
		.container

block footer
	include includes/_footer

block hidden
	include includes/_SVGSprite